.container {
    max-width: 1300px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 30px;
}

/* .grid {

} */

.flex {
    display: flex;
    justify-content: space-between;
}

/* padding */

.p-1{
    padding: 1rem;
}



.px-1 {
    padding: 0 1rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pt-1 {
    padding-top: .2rem;
}

.py-1 {
    padding: .2rem 0;
}

.py-2 {
    padding: 1rem 0;
}

/* margins */
.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: .2rem;
}

.mt {
    margin-top: .5rem;
}

.my-1 {
    margin: 1rem 0;
}

.mx-1 {
    margin: 0 1rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: .2rem;
}

/* font */

.text-grey-2 {
    color: #999999;
}

.text-grey-3 {
    color: rgb(129, 129, 129);
}

.text-purple-2 {
    color: #53039e;
}

.text-bold {
    font-weight: 600;
}

.text-grey {
    color: #afaaa2;
}

.text-purple {
    color: #7745FF;
}

.small {
    font-size: 1rem;
}

.medium {
    font-size: 1rem;
}

.regular {
    font-size: 1.3rem;
}

.small-1 {
    font-size: .8rem;
}

.small-2 {
    font-size: .6rem;
}

.text-uppercase {
    text-transform: uppercase;
}

/* colors */

.border-blue {
    border-left: 12px solid #0077b6;
}

.border-yellow {
    border-left: 12px solid #ffd500;
}

.border-lightblue {
    border-left: 12px solid #00bbf9;
}

.border-green {
    border-left: 10px solid #83e377;
}